/* 
Personal Website

============================================================================== */

:root {
  --light: #F3C7BE;
  --light2: #EC8F7B;
  --dark: #C2533B;
  --dark2: #8B2A14;
}


/* BASE STYLES
============================================================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  background: white;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}


/* GRID CONTAINER
============================================================================== */

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 4;
  padding-bottom: 25vh;
}




/* HEADER
============================================================================== */

header {
  position: relative;
  max-width: 30em;
  margin: 0 auto;
  padding: 4em;
  padding-bottom: 4em;
  overflow-x: hidden;
}

.logo {
  position: absolute;
  width: 92px;
  height: 92px;
  right: 4em;
  top: 2em;
}

.video {
  width: 170%;
  height: auto;
  margin-left: -40%;
  margin-top: -15%;
  margin-bottom: -20%;
  position: relative;
  z-index: -1;
}




/* MAIN
============================================================================== */

main {
  width: 100%;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5em;
  align-content: start;
  justify-content: center;
  justify-items: center;
}




/* TYPOGRAPHY
============================================================================== */
p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 1em 0;
}

b {
  font-weight: 500;
}

h1 {
  color: var(--dark);
  font-family: 'Abril Fatface', serif;
  font-style: normal;
  font-size: 48px;
  line-height: 64.75px;
  font-weight: lighter;
  margin: 0 0 0.25em 0;
}

h2 {
  color: var(--dark2);
  font-family: 'Abril Fatface', serif;
  font-style: normal;
  font-size: 48px;
  line-height: 90%;
  font-weight: lighter;
  margin: 0 0 0.25em 0;
}

h3 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin: 0 0 0.25em 0;
}

h4 {
  color: var(--dark2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}

h5 {
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 1em 0;
}

h6 {
  color: var(--dark2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 1em 0;
}



/* LINKS
============================================================================== */

a {
  color: var(--dark2);
}

a:visited {
  color: var(--dark2);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--light);
  background-color: transparent;
}




/* PROJECTS
============================================================================== */

.project {
  position: relative;
  margin-bottom: 0.5em;
  width: 100%;
}

.project-thumbnail {
  cursor: pointer; 
  background: #f0f0f0;
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.project-overlay {
  visibility: hidden;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 4em;
  z-index: 5;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-image: url(images/overlay-bg-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0%;
  transition: opacity 0.25s;
  overflow-y: scroll;
}

.project#active .project-overlay {
  visibility: visible;
  backdrop-filter: blur(10px);
  opacity: 100%;
}


.close-overlay {
  position: absolute;
  top: 0;
  right: 0.2em;
  font-size: 4em;
  color: var(--dark);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  z-index: 2;
}

.close-overlay:hover {
  color: var(--dark2);
}

.project-info {
  padding: 2em;
 /* grid-row-start: 1; */
}





/* SITE BACKGROUND LAYERS
============================================================================== */

.site-bg-1, 
.site-bg-2,
.site-bg-3 {
  position: absolute;
  bottom: 0;
  left: -10vw;
  width: 130vw;
  height: auto;
  overflow: hidden;
}

.site-bg-1 svg, 
.site-bg-2 svg,
.site-bg-3 svg {
  margin-bottom: -10vh;
}

.site-bg-1 {
  z-index: 1;
}

.site-bg-2 {
  z-index: 2;
  animation-name: float;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.site-bg-3 {
  z-index: 3;
  animation-name: float;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}



/* Slideshow container 
============================================================================== */

.slideshow-container {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  /*background: #ffffff;*/
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--dark2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: var(--light);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active, .dot:hover {
  background-color: var(--dark2);
}







/* ANIMATIONS
============================================================================== */

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5em);
  }
}






/* MEDIA QUERIES
============================================================================== */

@media (min-width: 960px) {

  .container {
    grid-template-columns: auto 30em;
  }

  header {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  main {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .project-overlay {
    background-image: url(images/overlay-bg-desktop.svg);
    grid-template-columns: 1fr 1fr;
    padding: 14em;
  }

  .slideshow-container {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    /*background: #ffffff;*/
    min-width: 40em;
  } 
  
  .dots{
    z-index: 2;
    position: relative;
    margin-top: -2em;
  }

  .close-overlay {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    font-size: 4em;
    color: var(--dark);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    z-index: 2;
  }

  .project-info {
    grid-column-start: 2;
  }

  .site-bg-1, 
  .site-bg-2,
  .site-bg-3 {  
    bottom: auto;
    top: 0;
  }

}


@media (min-width: 1080px) {

  main {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1200px) {

  .slideshow-container {
    min-height: 500px;
  }

}


@media (min-width: 1400px) {

  main {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-two {
    grid-column-end: span 2;
  }
  
  .span-three {
    grid-column-end: span 3;
  }

  .span-two-rows {
    grid-row-end: span 2;
  }

  .project-thumbnail img {
    max-height: 300px;
  }

}








